.Navbar {
    background-color:black;
    position: relative !important;
    color:black;
}

.Navlink {
    color:white;
}

.Navlink:hover {
    color:black;
    background-color:white;
}

.Collapse {
    border: 1px solid white !important;
}