.Navbar {
    background-color:black;
    position: relative !important;
    color:black;
}

.Navlink {
    color:white;
}

.Navlink:hover {
    color:black;
    background-color:white;
}

.Collapse {
    border: 1px solid white !important;
}

.Card {
    width:100%;
    height:100%;
}

.popover-header {
    background-color: orange !important;
}